* {
  margin: 0;
  background-image: url("./images/background-image.jpg");
  /* background-color: #93b5e7; */

  /* background-color: #223a5f; */
}

body {
  margin: 0;
  padding: 0;
  background-size: cover;
  background-position: center;
}
.App {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid #fff;
  padding: 20px;
  width: 70%;
  margin: 5% auto;
  border-radius: 10px;
}

.score h1 {
  background-color: #fff;
  padding: 50px;
  color: #000;
  border-radius: 10px;
  cursor: pointer;
}

.game-elements {
  color: #fff;
}

.main-section {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.icons {
  padding: 10px;
  margin-left: 250px;
}

.output-values {
  margin-left: 400px;
  font-size: 40px;
  display: flex;
  padding: 10px;
}

.button-color {
  padding: 10px 20px;
  font-size: 20px;
  background-color: rgb(240, 141, 191);
  border-color: #fff;
  color: yellow;
}

.device-color {
  color: yellow;
}
