* {
  margin: 0;
  background-color: #93b5e7;
  /* background-color: #223a5f; */
}
.App {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid #fff;
  padding: 20px;
  width: 70%;
  margin: 5% auto;
  border-radius: 10px;
}

.score h1 {
  background-color: #fff;
  padding: 50px;
  color: #000;
  border-radius: 10px;
  cursor: pointer;
}

.game-elements {
  color: #fff;
}

.main-section {
}

.icons {
  padding: 10px;
  margin-left: 250px;
}

.output-values {
  margin-left: 400px;
  font-size: 40px;
  display: flex;
  padding: 10px;
}
